<section #appSmartphoneRef id="appSmartphone" class="">
    <div class="container">
        <div class="row " id="wrapHomeApp">
            <div class="col-sm-12 block" id="homeApp">
                <div class="mainMaxWidth">
                    <div class="row">
                        <div class="col-lg-6 left text__left">
                            <p class="textLeft">Ứng dụng tiện lợi dành cho người yêu điện ảnh</p>
                            <br />
                            <p class="textSmallLeft">
                                Không chỉ đặt vé, bạn còn có thể bình luận phim,
                                chấm điểm rạp và đổi quà hấp dẫn.
                            </p>
                            <br />
                            <button class="buttonLeft text-lg-left text-md-center">
                                App miễn phí - Tải về ngay!
                            </button>
                            <p class="textAppUnder">
                                VinCinema có hai phiên bản
                                <a class="tagA" target="_blank"
                                    href="https://itunes.apple.com/us/app/123phim-mua-ve-lien-tay-chon/id615186197?mt=8">iOS</a>
                                &amp;&nbsp;<a class="tagA" target="_blank"
                                    href="https://play.google.com/store/apps/details?id=vn.com.vng.phim123">Android</a>
                            </p>
                        </div>
                        <div class="col-lg-6  phone__right">
                            <img class="img-phone" src="../../../../assets/images/app_img/phone_hand.png" alt="Loading..." />
                            <!-- <div class="slide-list">
                                <div id="sliderScreen" class="wrapSlick swiper-container " [swiper]="config">
                                    <div class="swiper-wrapper">
                                        <div class="item-app swiper-slide" *ngFor="let item of slides">
                                            <img [src]="item" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>