<footer>
    <app-app-footer></app-app-footer>
    <div class="footertop-bg">
        <div class="container">
            <div class="row footer">
                <div class="col-md-2">
                    <div class="footer-title">
                        <p>UIT Phim</p>
                    </div>
                    <div class="footer-content">
                        <a href="">
                            <p>FAQ</p>
                        </a>
                        <a href="">
                            <p>Brand Guidelines</p>
                        </a>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-title">
                        <p>Hỗ trợ khách hàng</p>
                    </div>
                    <div class="footer-content">
                        <a routerLink="/contact">
                            <p>Thỏa thuận sử dụng</p>
                        </a>
                        <a href="">
                            <p>Quy chế hoạt động</p>
                        </a>
                        <a href="">
                            <p>Chính sách bảo mật </p>
                        </a>
                        <a href="">
                            <p>Quyền lợi thành viên</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-title">
                        <p>Đối tác</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12 footer-doitac">
                            <a href="https://www.bhdstar.vn/"><img src="../../../assets/images/footer_img/rapBHD.png"
                                    alt=""></a>
                            <a href="https://www.galaxycine.vn/"><img
                                    src="../../../assets/images/footer_img/rapGALA.png" alt=""></a>
                            <a href="http://lottecinemavn.com/LCHS/index.aspx#"><img
                                    src="../../../assets/images/footer_img/rapLOTE.png" alt=""></a>
                            <a href="https://cinestar.com.vn/"><img src="../../../assets/images/footer_img/rapSAO.png"
                                    alt=""></a>
                            <a href="https://www.betacineplex.vn/home.htm"><img
                                    src="../../../assets/images/footer_img/doitac1.jpg" alt=""></a>
                            <a href="http://ddcinema.vn/"><img src="../../../assets/images/footer_img/doitac2.png"
                                    alt=""></a>
                            <a href="https://touchcinema.com/"><img src="../../../assets/images/footer_img/doitac3.png"
                                    alt=""></a>
                            <a href="https://cinemaxvn.com/"><img src="../../../assets/images/footer_img/doitac4.jpg"
                                    alt=""></a>
                            <a href="https://starlight.vn/"><img src="../../../assets/images/footer_img/doitac5.png"
                                    alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="footer-title">
                        <p>MOBILE APP</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12 footer-doitac">
                            <a href="https://www.bhdstar.vn/"><img src="../../../assets/images/footer_img/apple.png"
                                    alt=""></a>
                            <a href="https://www.galaxycine.vn/"><img src="../../../assets/images/footer_img/androi.png"
                                    alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="footer-title">
                        <p>SOCIAL</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12 footer-doitac">
                            <a href="https://www.facebook.com/"><img src="../../../assets/images/footer_img/fb.png"
                                    alt=""></a>
                            <a href="https://twitter.com/?lang=en"><img src="../../../assets/images/footer_img/tw.png"
                                    alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerbottom-bg">
        <div class="container">
            <div class="row footerbottom">
                <div class="col-md-10 d-flex">
                    <div class="footerbottom_logo">
                        <img src="../../../assets/images/share_img/uit.png" alt="">
                    </div>
                    <div class="footerbottom-content">
                        <p>UIT Phim – SẢN PHẨM CỦA TRƯỜNG ĐẠI HỌC CÔNG NGHỆ THÔNG TIN – ĐẠI HỌC QUỐC GIA TPHCM </p>
                        <p>Địa chỉ: khu phố 6, Thủ Đức, Ho Chi Minh City</p>
                        <p>Điện thoại: 028 3725 2002</p>
                        <p>Khẩu hiệu: Toàn diện - Sáng tạo - Phụng sự</p>
                    </div>
                </div>
                <div class="col-md-2 logoCongThuong">
                    <img src="../../../assets/images/footer_img/logoCongThuong.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>